<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.todayrecord.presentation">

    <application android:theme="@style/Theme.TodayRecord">

        <activity
            android:name=".screen.MainActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:exported="true"
            android:theme="@style/Theme.TodayRecord.Splash"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <nav-graph android:value="@navigation/nav_main" />
        </activity>

        <receiver
            android:name=".receiver.InitializeReceiver"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>